<label>Add user
  <form  class="addUserForm" (submit)="onSubmit($event)">
    <label>
      <input required class="name" type="text" name="userName" placeholder="Name" [(ngModel)]="userName" #nameInput/><br/>
      <input required class="email" type="text" name="email" placeholder="Email" [(ngModel)]="email" #emailInput/><br/>
      <input class="check" type="checkbox" name="checkbox" [(ngModel)]="status" #statusInput><br/>
    </label>
    <label>
      <select required class="role" name="role" [(ngModel)]="role">
        <option value="">Select role</option>
        <option *ngFor="let r of roles" [value]="r.name" #roleInput>{{r.name}}</option>
      </select>
    </label><br/>
    <button type="submit"
            [disabled]="formIsEmpty()"
    >Create</button>
  </form>
</label>

