<h1>Users app</h1>
<hr/>
<div class="container">
  <div class="half-container">
    <app-new-user
      (newUser)="onNewUser($event)"
    ></app-new-user>
    <app-create-group></app-create-group>
  </div>

  <div class="container-half">
    <app-user
      *ngFor="let user of userService.getUsers()"
      [user]="user"
      (userClick)="onUserClick($event)"
    ></app-user>
  </div>

  <div class="another-container">
    <app-users-group
    *ngFor="let userGroup of userGroups"
    [userGroup]="userGroup"
    (userClick)="onUserClick($event)"
    ></app-users-group>
  </div>
</div>
