

<label class="create-group-label">Create group
  <form class="groupForm">
    <label>
      <input
        class="createGroup"
        type="text"
        name="createGroup"
        placeholder="Name"/><br/>
    </label>
    <button
      type="submit"
      class="CGBtn"
    >Create</button>
  </form>
</label>

