p{
  display: flex;
  text-align: left;
  font-size: 20px;
}
span{
  margin-right: 15px;
}

strong{
  margin-right: 15px;
}

.user {
  display: block;
  width: 500px;
  margin: 10px;
  padding: 20px;
  border: 2px solid black;
}

.name{
  color: red;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}

.roleName{
  text-transform: uppercase;
  font-size: 15px;
  text-decoration: underline;
}
